.content {
    padding: 10px 0;
}

.image {
    background: #757bff;
    border: 2px solid #a08b8b;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.image.active {
    background: #008a0b;
    padding: 8px;   
}

table {
    border-collapse: collapse;
}

table th {
    padding: 5px;
    text-align: left;
    font-weight: normal;
    font-size: 0.9em;
    color: #fff;
    background: #1B1B1D;
}

table td {
    padding: 5px;
    text-align: left;
    font-size: 0.9em;
}