# BMP581 pressure sensor configuration options.

# Copyright (c) 2023, Daniel Kampert
#
# SPDX-License-Identifier: Apache-2.0

menuconfig BMP581
    bool "BMP581 Sensor"
    depends on DT_HAS_BOSCH_BMP581_ENABLED
    default y
    select I2C
    help
        Enable the driver for the BMP581 pressure sensor.

if BMP581

module = BOSCH_BMP581
module-str = BOSCH_BMP581
source "subsys/logging/Kconfig.template.log_config"

endif