# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

menuconfig GC9A01
    bool "GC9A01 Display"
    default n
    select SPI
    help
        Enable driver for GC9A01 compatible controller.
