build
build*
*.code-workspace
*__pycache__*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

*.bin

# Zephyr workspace
/.west
/bootloader
/modules
/tools
/zephyr
__pycache__