[submodule "KiCAD_plugins/kiBoM"]
	path = KiCAD_plugins/kiBoM
	url = https://github.com/SchrodingersGat/KiBoM.git
[submodule "app/src/ext_drivers/bmi270/BMI270-Sensor_API"]
	path = app/src/ext_drivers/bmi270/BMI270-Sensor_API
	url = https://github.com/boschsensortec/BMI270-Sensor-API.git
[submodule "app/src/ext_drivers/bmp581/BMP5-Sensor-API"]
	path = app/src/ext_drivers/bmp581/BMP5-Sensor-API
	url = https://github.com/boschsensortec/BMP5-Sensor-API.git
[submodule "app/src/applications/2048/2048_lib"]
	path = app/src/applications/2048/2048_lib
	url = https://github.com/100askTeam/lv_lib_100ask.git
[submodule "hardware/ZSWatch-HW"]
	path = hardware/ZSWatch-HW
	url = https://github.com/jakkra/ZSWatch-HW.git
[submodule "hardware/ZSWatch-Dock"]
	path = hardware/ZSWatch-Dock
	url = https://github.com/jakkra/ZSWatch-Dock.git
