[submodule "app/src/ext_drivers/BMP5-Sensor-API"]
	path = app/src/ext_drivers/BMP5-Sensor-API
	url = https://github.com/boschsensortec/BMP5-Sensor-API.git
[submodule "app/src/applications/2048/2048_lib"]
	path = app/src/applications/2048/2048_lib
	url = https://github.com/100askTeam/lv_lib_100ask.git
[submodule "app/src/ext_drivers/BMI270-Sensor-API"]
	path = app/src/ext_drivers/BMI270-Sensor-API
	url = https://github.com/boschsensortec/BMI270-Sensor-API.git
[submodule "app/src/ext_drivers/BME68x-Sensor-API"]
	path = app/src/ext_drivers/BME68x-Sensor-API
	url = https://github.com/boschsensortec/BME68x-Sensor-API.git
[submodule "sensor-fusion"]
	path = app/src/ext_drivers/fusion
	url = https://github.com/xioTechnologies/Fusion.git
[submodule "website/src/mcumgr-web"]
	path = website/src/mcumgr-web
	url = https://github.com/ZSWatch/mcumgr-web.git
[submodule "hardware/Heartrate-HW"]
	path = hardware/Heartrate-HW
	url = https://github.com/ZSWatch/Heartrate-HW.git
[submodule "hardware/Dock-HW"]
	path = hardware/Dock-HW
	url = https://github.com/ZSWatch/Dock-HW.git
[submodule "hardware/Watch-HW"]
	path = hardware/Watch-HW
	url = https://github.com/ZSWatch/Watch-HW.git
[submodule "app/src/ext_drivers/kissfft"]
	path = app/src/ext_drivers/kissfft
	url = https://github.com/mborgerding/kissfft.git
