# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2024 Daniel Kampert
# Author: Daniel Kampert <DanielKampert@Kampis-Elektroecke.de>

config RTC_RV8263
	bool "Micro Crystal RV-8263-C8 RTC driver"
	default y
	depends on DT_HAS_MICROCRYSTAL_RV_8263_C8_ENABLED
	select I2C
	help
	    Micro Crystal RV-8263-C8 RTC driver.

if RTC_RV8263
    menu "RV8263 Update"
		depends on RTC_UPDATE

        choice
            prompt "RV-8263-C8 update handling mode"
            default RTC_RV8263_UPDATE_GLOBAL_THREAD

            config RTC_RV8263_UPDATE_GLOBAL_THREAD
                depends on GPIO
                bool "Use workqueue (Default)"
                help
                    Use the global workqueue to process the updates from the RV-8263-C8.

            config RTC_RV8263_UPDATE_OWN_THREAD
                depends on GPIO
                bool "Use driver thread"
                help
                    Use a separate thread to process the updates from the RV-8263-C8.
        endchoice

        config RTC_RV8263_UPDATE_THREAD_STACK_SIZE
            int "Stack size for the RV-8263-C8 update thread"
            depends on RTC_RV8263_UPDATE_OWN_THREAD
            default 512
            help
                Size of the stack used for the thread handling RTC updates and dispatching callbacks.

        config RTC_RV8263_UPDATE_THREAD_PRIORITY
            int "RV-8263-C8 update thread priority"
            depends on RTC_RV8263_UPDATE_OWN_THREAD
            default 0
            help
                Priority level for the thread handling RTC updates and dispatching callbacks.
    endmenu

    menu "RV8263 Alarm"
        depends on RTC_ALARM

        choice
            prompt "RV-8263-C8 alarm handling mode"
            default RTC_RV8263_ALARM_GLOBAL_THREAD

            config RTC_RV8263_ALARM_GLOBAL_THREAD
                depends on GPIO
                bool "Use workqueue (Default)"
                help
                    Use the global workqueue to process the interrupts from the RV-8263-C8.

            config RTC_RV8263_ALARM_OWN_THREAD
                depends on GPIO
                bool "Use driver thread"
                help
                    Use a separate thread to process the alarms from the RV-8263-C8.
        endchoice

        config RTC_RV8263_ALARM_THREAD_STACK_SIZE
            int "Stack size for the RV-8263-C8 interrupt thread"
            depends on RTC_RV8263_ALARM_OWN_THREAD
            default 512
            help
                Size of the stack used for the thread handling alarms and dispatching callbacks.

        config RTC_RV8263_ALARM_THREAD_PRIORITY
            int "RV-8263-C8 alarm thread priority"
            depends on RTC_RV8263_ALARM_OWN_THREAD
            default 0
            help
                Priority level for the thread handling alarms and dispatching callbacks.
    endmenu
endif