&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 23)>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 23)>;
			low-power-enable;
		};
	};

    i2c1_default: i2c1_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 10)>,
				<NRF_PSEL(TWIM_SCL, 0, 7)>;
		};
	};

	i2c1_sleep: i2c1_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 10)>,
				<NRF_PSEL(TWIM_SCL, 0, 7)>;
			low-power-enable;
		};
	};

    qspi_default: qspi_default {
		group1 {
			psels = <NRF_PSEL(QSPI_SCK, 0, 17)>,
				<NRF_PSEL(QSPI_IO0, 0, 13)>,
				<NRF_PSEL(QSPI_IO1, 0, 14)>,
				<NRF_PSEL(QSPI_IO2, 0, 15)>,
				<NRF_PSEL(QSPI_IO3, 0, 16)>,
				<NRF_PSEL(QSPI_CSN, 0, 18)>;
			nordic,drive-mode = <NRF_DRIVE_H0H1>;
		};
	};

	qspi_sleep: qspi_sleep {
		group1 {
			psels = <NRF_PSEL(QSPI_SCK, 0, 17)>,
				<NRF_PSEL(QSPI_IO0, 0, 13)>,
				<NRF_PSEL(QSPI_IO1, 0, 14)>,
				<NRF_PSEL(QSPI_IO2, 0, 15)>,
				<NRF_PSEL(QSPI_IO3, 0, 16)>;
			low-power-enable;
		};
		group2 {
			psels = <NRF_PSEL(QSPI_CSN, 0, 18)>;
			low-power-enable;
			bias-pull-up;
		};
	};

};

&uicr {
    nfct-pins-as-gpios;
};

/ {
	chosen {
		nordic,pm-ext-flash = &at25sl128a;
	};

	aliases {
		spi-flash0 = &at25sl128a;
	};

    vbatt {
        compatible = "voltage-divider";
        io-channels = <&adc 7>;
        output-ohms = <220000>;
        full-ohms = <(1500000 + 220000)>;
        power-gpios = <&gpio1 10 0>;
    };

    longpress: longpress {
        input = <&buttons>;
        compatible = "zephyr,input-longpress";
        input-codes = <INPUT_KEY_KP0>;
        short-codes = <INPUT_KEY_3>;
        long-codes = <INPUT_KEY_Y>;
        long-delay-ms = <10000>;
    };

	buttons: buttons {
        compatible = "gpio-keys";
        button1: button_1 {
            label = "top-right";
            gpios = <&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_1>;
        };
        button2: button_2 {
            label = "bottom-left";
            gpios = <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_2>;
        };
        button3: button_3 {
            label = "bottom-right";
            gpios = <&gpio1 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_KP0>;
        };
        button4: button_4 {
            label = "top-left";
            gpios = <&gpio1 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_4>;
        };
    };

	regulator_3v3: regulator-3v3-ctrl {
        compatible = "regulator-fixed";
        regulator-name = "display";
        enable-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
        regulator-boot-on;
        startup-delay-us = <50000>;
    };

	vib_pwr: vib-pwr-ctrl {
        compatible = "regulator-fixed";
        regulator-name = "vib-pwr-ctrl";
        enable-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
    };

};

&uart0 {
    status = "disabled";
};

&i2c1 {
    bmi270: bmi270@68 {
        compatible = "bosch,bmi270-plus";
        reg = <0x68>;
        status = "okay";
        int-gpios = <&gpio0 19 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        // NOTE: The swap is performed AFTER the axis inversion. So we have to invert the y axis of the sensor
        // to get the x axis of the watch coordinate system.
        swap-xy;
        invert-y;
    };

    apds9306: apds9306@52 {
        compatible = "avago,apds9306";
        reg = <0x52>;
        status = "okay";
    };
};

&spi4  {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi4_default>;
    pinctrl-1 = <&spi4_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;

    gc9a01: gc9a01@0 {
        compatible = "buydisplay,gc9a01";
        status = "okay";
        spi-max-frequency = <30000000>;
        reg = <0>;
        width = <240>;
        height = <240>;
        bl-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
        dc-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
    };
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	at25sl128a: at25sl128a@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		sck-frequency = <96000000>;
		jedec-id = [ 1f 42 18];
		size = <DT_SIZE_M(16*8)>;
		has-dpd;
        // CS High to Power-Down Mode (tDP) - 3 us
        // Rev. S Table 26. AC Electrical Characteristic
		t-enter-dpd = <3000>;
        // CS High to Standby Mode without Electronic Signature Read (tRES1) 3 us
        // Rev. S Table 26. AC Electrical Characteristic
		t-exit-dpd = <3000>;
		// Configure to actully use Quad SPI data.
		writeoc = "pp4o";
		readoc = "read4io";
		quad-enable-requirements = "S2B1v6";
	};
};

/ {
	fstab {
		compatible = "zephyr,fstab";
		lvgl_lfs: lvgl_lfs {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lvgl_lfs";
			partition = <&littlefs_storage>;
			automount;
			read-size = <512>;
			prog-size = <512>;
			cache-size = <512>;
			lookahead-size = <4096>;
			block-cycles = <512>;
		};
	};
};

/delete-node/ &storage_partition;

&at25sl128a {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		
		// For Nordic Partition manager to work it has to have this name.
		littlefs_storage: partition@320000 {
			label = "littlefs_storage";
			reg = <0x320000 0x200000>;
		};

		lvgl_raw_partition: partition@520000 {
			label = "lvgl_raw_partition";
			reg = <0x520000 0x800000>;
		};

		storage_partition: partition@D20000 {
			label = "storage_partition";
			reg = <0xD20000 0x100000 >;
		};
	};
};