# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

if SENSOR
	rsource "bme68x_iaq/Kconfig"
	rsource "bmp581/Kconfig"
	rsource "bmi270/Kconfig"
	rsource "apds9306/Kconfig"
endif
