# ZSWatch board configuration

# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

menu "Watchface"
    config WATCHFACE_DIGITAL
        bool
        prompt "Add digital watchface"
        default y

    config WATCHFACE_MINIMAL
        bool
        prompt "Add minimal watchface"
        default y

    choice WATCHFACE_BACKGROUND_IMG
        bool
        prompt "Select which watchface background imgage to use. Not all watchfaces supports this."
        default WATCHFACE_BACKGROUND_SPACE

    config WATCHFACE_BACKGROUND_SPACE
        prompt "Space themed background"
    config WATCHFACE_BACKGROUND_FLOWER
        prompt "Flower themed background"
    config WATCHFACE_BACKGROUND_PLANET
        prompt "Planet earth themed background"
    config WATCHFACE_BACKGROUND_NONE
        prompt "No background"
    endchoice
endmenu
