# ZSWatch Development Kit board configuration

# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

config BOARD_WATCHDK
    select SOC_NRF5340_CPUAPP_QKAA if BOARD_WATCHDK_NRF5340_CPUAPP
    select SOC_NRF5340_CPUAPP_QKAA if BOARD_WATCHDK_NRF5340_CPUAPP_NS
    select SOC_NRF5340_CPUNET_QKAA if BOARD_WATCHDK_NRF5340_CPUNET
