# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# enable GPIO
CONFIG_GPIO=y

# Disable uart driver
CONFIG_SERIAL=n

# disable console
CONFIG_CONSOLE=n
CONFIG_UART_CONSOLE=n

CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

# Ensure GPIO P0.01 and P0.00 can be used
CONFIG_SOC_ENABLE_LFXO=n

# Change the NCS boot string
CONFIG_NCS_APPLICATION_BOOT_BANNER_STRING="WatchDK"