# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

menu "Custom drivers"
    rsource "display/Kconfig"
    rsource "input/Kconfig"
    rsource "sensor/Kconfig"
    rsource "audio/Kconfig"
endmenu
