# Copyright (c) 2025 ZSWatch Project, Leonardo Bispo, Jakob Krantz
# SPDX-License-Identifier: Apache-2.0

menu "UI"
    menu "UI Controller"
        module = ZSW_UI_CONTROLLER
        module-str = ZSW_UI_CONTROLLER
        source "subsys/logging/Kconfig.template.log_config"
    endmenu

    rsource "utils/Kconfig"
endmenu
