debug

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

src/ext_drivers/BME68x-Sensor-API
src/ext_drivers/BSEC2
src/ext_drivers/bmi270/BMI270-Sensor-API
src/ext_drivers/bmp581/BMP5-Sensor-API