menu "Zephyr Kernel"
    source "Kconfig.zephyr"
endmenu

menu "ZSWatch"
    config ZSWATCH_PCB_REV
        int
    prompt "ZSWatch PCB revision"
    default 3

    menu "Applications"
        config APPLICATIONS_USE_2048
            bool
        prompt "Activate the application '2048'"
        default y

        config APPLICATIONS_USE_ACCELEROMETER
            bool
        prompt "Activate the application 'Accelerometer'"
        default y

        config APPLICATIONS_USE_BATTERY
            bool
        prompt "Activate the application 'Battery'"
        default y

        config APPLICATIONS_USE_COMPASS
            bool
        prompt "Activate the application 'Compass'"
        default y

        config APPLICATIONS_USE_INFO
            bool
        prompt "Activate the application 'Info'"
        default y

        config APPLICATIONS_USE_QR_CODE
            bool
        prompt "Activate the application 'QR-Code'"
        default y if LV_Z_USE_FILESYSTEM

        config APPLICATIONS_USE_SENSORS_SUMMARY
            bool
        prompt "Activate the application 'Sensors Summary'"
        default y

        config APPLICATIONS_USE_X_RAY
            bool
        prompt "Activate the application 'X-Ray'"
        default y if LV_Z_USE_FILESYSTEM

        config APPLICATIONS_USE_ZDS
            bool
        prompt "Activate the application 'ZDS'"
        default n
        select APPLICATIONS_USE_ACCELEROMETER

        config APPLICATIONS_USE_IAQ
            bool
        prompt "Activate the application 'IAQ'"
        depends on EXTERNAL_USE_BOSCH_BSEC && LV_Z_USE_FILESYSTEM
        default n
    endmenu

    menu "Watchface"
        config WATCHFACE_ANALOG
            bool
            prompt "Add analog watchface"
            default n

        config WATCHFACE_DIGITAL
            bool
            prompt "Add digital watchface"
            default y

        config WATCHFACE_MINIMAL
            bool
            prompt "Add minimal watchface"
            default y

        choice WATCHFACE_BACKGROUND_IMG
            bool
            prompt "Select which watchface background imgage to use. Not all watchfaces supports this."
            def_bool WATCHFACE_BACKGROUND_SPACE

        config WATCHFACE_BACKGROUND_SPACE
            prompt "Space themed background"
        config WATCHFACE_BACKGROUND_FLOWER
            prompt "Flower themed background"
        config WATCHFACE_BACKGROUND_PLANET
            prompt "Planet earth themed background"
        config WATCHFACE_BACKGROUND_NONE
            prompt "No background"
        endchoice
    endmenu

    menu "Default configuration"
        menu "Sensors Summary"
            depends on APPLICATIONS_USE_SENSORS_SUMMARY

            config DEFAULT_CONFIGURATION_SENSORS_SUMMARY_REFRESH_INTERVAL_MS
                int
            prompt "Refresh interval in milliseconds"
            default 100
        endmenu

        menu "Compass"
            depends on APPLICATIONS_USE_COMPASS

            config DEFAULT_CONFIGURATION_COMPASS_REFRESH_INTERVAL_MS
                int
            prompt "Refresh interval in milliseconds"
            default 50

            config DEFAULT_CONFIGURATION_COMPASS_CALIBRATION_TIME_S
                int
            prompt "Calibration time in seconds"
            default 10
        endmenu

        menu "Battery"
            depends on APPLICATIONS_USE_BATTERY

            config DEFAULT_CONFIGURATION_BATTERY_NUM_SAMPLES_MAX
                int
            prompt "Maximum number of samples"
            default 100

            config DEFAULT_CONFIGURATION_BATTERY_SAMPLE_INTERVAL_MINUTES
                int
            prompt "Battery sample interval in minutes"
            default 30
        endmenu

        menu "Power Management"
            config POWER_MANAGEMENT_IDLE_TIMEOUT_SECONDS
                int
            prompt "Idle timeout in seconds"
            default 20
        endmenu
    endmenu

    menu "External"
        choice EXTERNAL_BOSCH_SENSOR
            bool
            prompt "Select the function for the Bosch environment sensor."
            help
                You have to disable the BME680 option in the Zephyr configuration to enable the Bosch BSEC option.
            def_bool EXTERNAL_USE_BOSCH_BME688

        config EXTERNAL_USE_BOSCH_BSEC
            prompt "Use Bosch BSEC library"
            depends on !BME680
            select BME68X_IAQ

        config EXTERNAL_USE_BOSCH_BME688
            prompt "Use standard BME680 driver from Zephyr"
        endchoice
    endmenu

    menu "BLE"
        config BLE_DISABLE_PAIRING_REQUIRED
            bool
        prompt "Disable encryption required for BLE connection (pairing/bonding)"
        default n
        help
            "Disable encryption for BLE connection (pairing/bonding). Used only for debugging purposes."
        
        choice BLE_SMARTPHONE_INTERFACE
            bool
            prompt "Select which BLE smartphone interface to use."
            def_bool BLE_USES_GADGETBRIDGE
            help
              "If using with iOS you likely use AMS"

        config BLE_USES_GADGETBRIDGE
            prompt "Smartphone interaction and notifications uses Gadgetbridge"
        config BLE_USES_IOS
            prompt "Smartphone uses Apple Services Client"
            select BT_GATTP
            select BT_GATT_DM
            select BT_AMS_CLIENT
            select BT_ANCS_CLIENT
        endchoice
       
    endmenu
    
    menu "SPI RTT Flash Loader"
        config SPI_FLASH_LOADER
            bool
        prompt "Enable SPI flash loader"
        default n
        select USE_SEGGER_RTT
        #select SEGGER_RTT_MODE_BLOCK_IF_FIFO_FULL
        help
            "Enable SPI flash loader"

        if SPI_FLASH_LOADER
            config ERASE_PROGRESSIVELY
                bool
            depends on SPI_FLASH_LOADER
            prompt "Erase sectors one by one when writing instead of full partition before starting."
            default y
            help
                "If not writing to the full partition this will be faster"

            config RTT_TRANSFER_CHANNEL
                int
            depends on SPI_FLASH_LOADER
            prompt "The RTT channel to use for transfer of data to and form flash"
            default 2
            help
                "If RTT logging is enabled, channel 0 is used for this, hence avoid 1 in this scenario."
        endif
    endmenu

    menu "ZSWatch Init Priorities"
    config ZSW_DRIVER_INIT_PRIORITY
        int
        default 85
    endmenu

    menu "Custom drivers"
        rsource "drivers/Kconfig"
    endmenu

    menu "Logging"
        module = APP
        module-str = APP
        source "subsys/logging/Kconfig.template.log_config"

        rsource "src/sensors/Kconfig"
    endmenu
endmenu