# Copyright (c) 2020 Qingsong Gou <gouqs@hotmail.com>
# Copyright (c) 2022 Jakob Krantz <mail@jakobkrantz.se>
# SPDX-License-Identifier: Apache-2.0

menuconfig KSCAN_MODIFIED_CST816S
	bool "Use modified out of tree CST816S capacitive touch panel driver"
	default y
	depends on DT_HAS_HYNITRON_CST816S_ENABLED
	select I2C
	help
	  Enable modified out of tree driver for hynitron cst816s touch panel.

if KSCAN_MODIFIED_CST816S

config KSCAN_CST816S_PERIOD
	int "Sample period"
	depends on !KSCAN_CST816S_INTERRUPT
	default 20
	help
	  Sample period in milliseconds when in polling mode.

config KSCAN_CST816S_INTERRUPT
	bool "Interrupt support"
	default y
	depends on GPIO
	help
	  Enable interrupt support (requires GPIO).

endif # KSCAN_CST816S
