# ZSWatch NRF5340 board configuration

# Copyright (c) 2023 Jakob Krantz
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF5340_CPUAPP_QKAA

config BOARD_ZSWATCH_NRF5340_CPUAPP
	bool "ZSWatch nRF5340 Application MCU"

config BOARD_ZSWATCH_NRF5340_CPUAPP_NS
	bool "ZSWatch nRF5340 Application MCU non-secure"

endif # SOC_NRF5340_CPUAPP_QKAA

if SOC_NRF5340_CPUNET_QKAA

config BOARD_ZSWATCH_NRF5340_CPUNET
	bool "ZSWatch nRF5340 Network MCU"

endif # SOC_NRF5340_CPUNET_QKAA
