/ {
	chosen {
		nordic,pm-ext-flash = &at25sl128a;
	};

    longpress: longpress {
        input = <&buttons>;
        compatible = "zephyr,input-longpress";
        input-codes = <INPUT_KEY_KP0>;
        short-codes = <INPUT_KEY_4>;
        long-codes = <INPUT_KEY_Y>;
        long-delay-ms = <1000>;
    };

	buttons: buttons {
        compatible = "gpio-keys";
        button1: button_1 {
            label = "top-right";
            gpios = <&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_1>;
        };
        button2: button_2 {
            label = "bottom-left";
            gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_2>;
        };
        button3: button_3 {
            label = "bottom-right";
            gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_3>;
        };
        button4: button_4 {
            label = "top-left";
            gpios = <&gpio1 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_KP0>;
        };
    };

	regulator_3v3: regulator-3v3-ctrl {
        compatible = "regulator-fixed";
        regulator-name = "display";
        enable-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
        regulator-boot-on;
        startup-delay-us = <50000>;
    };

	vib_pwr: vib-pwr-ctrl {
        compatible = "regulator-fixed";
        regulator-name = "vib-pwr-ctrl";
        enable-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
    };
};

&i2c1 {
    bmi270: bmi270@68 {
        compatible = "bosch,bmi270-plus";
        reg = <0x68>;
        status = "okay";
        int-gpios = <&gpio0 21 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        invert-x;
        invert-y;
    };
};

&spi4  {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi4_default>;
    pinctrl-1 = <&spi4_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;

    gc9a01: gc9a01@0 {
        compatible = "buydisplay,gc9a01";
        status = "okay";
        spi-max-frequency = <30000000>;
        reg = <0>;
        width = <240>;
        height = <240>;
        bl-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
        dc-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
    };
};

&spi3  {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
    at25sl128a: at25sl128a@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <10000000>;
		jedec-id = [ 1f 42 18];
		size = <DT_SIZE_M(16*8)>;
		has-dpd;
        // CS High to Power-Down Mode (tDP) - 3 us
        // Rev. S Table 26. AC Electrical Characteristic
		t-enter-dpd = <3000>;
        // CS High to Standby Mode without Electronic Signature Read (tRES1) 3 us
        // Rev. S Table 26. AC Electrical Characteristic
		t-exit-dpd = <3000>;
	};
};