# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF53X=y
CONFIG_SOC_NRF5340_CPUNET_QKAA=y
CONFIG_BOARD_ZSWATCH_NRF5340_CPUNET=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable GPIO
CONFIG_GPIO=y

CONFIG_PINCTRL=y

# This board does not have external
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y


# Below is placed here to simplify building of NET Core hci_rpmsg.conf
# When building with nRF Connect then the build for NET Core is automtaically
# picked up because of thew child_image/hci_rpmsg.conf folder and file.
# However when compiling with Zephyr the zephyr/samples/bluetooth/hci_rpmsg
# has to be compiled and flashed to the NET core manually.
# By adding the below here, the user does not need to do any modifications
# in the zephyr/samples/bluetooth/hci_rpmsg application.

# Direction Finding Rx
CONFIG_BT_CTLR_DF_CTE_RX=n
CONFIG_BT_CTLR_DF_CONN_CTE_RX=n
CONFIG_BT_CTLR_DF_ANT_SWITCH_RX=n
CONFIG_BT_CTLR_DF_CONN_CTE_REQ=n

# Direction Finding Tx
CONFIG_BT_CTLR_DF_ANT_SWITCH_TX=n
CONFIG_BT_CTLR_DF_CONN_CTE_RSP=n

CONFIG_BT_EXT_ADV=y

CONFIG_BT_CTLR=y
CONFIG_BT_LL_SW_SPLIT=y

CONFIG_BT_CTLR_ADV_EXT=y
CONFIG_BT_CTLR_ADV_PERIODIC=y

CONFIG_BT_CTLR_DF=y

CONFIG_BT_CTLR_DF_SCAN_CTE_RX=n
CONFIG_BT_CTLR_DF_ANT_SWITCH_RX=n
CONFIG_BT_CTLR_DF_CTE_RX=n

# Limit number of possible connection to decrease memory usage
CONFIG_BT_MAX_CONN=2

# Enable chaining of multiple CTEs in periodic advertising
CONFIG_BT_CTLR_ADVANCED_FEATURES=y
CONFIG_BT_CTLR_ADV_SYNC_PDU_BACK2BACK=y
CONFIG_BT_CTLR_DF_PER_ADV_CTE_NUM_MAX=16

CONFIG_BT_CTLR_TX_PWR_0=y
CONFIG_BT_CTLR_ADV_DATA_LEN_MAX=191

# Enable chaining of multiple CTEs in periodic advertising
CONFIG_BT_CTLR_ADVANCED_FEATURES=y
CONFIG_BT_CTLR_ADV_SYNC_PDU_BACK2BACK=y
CONFIG_BT_CTLR_DF_PER_ADV_CTE_NUM_MAX=16

CONFIG_BT_BROADCASTER=y

CONFIG_BT_EXT_ADV_MAX_ADV_SET=2
CONFIG_BT_CTLR_ADV_AUX_SET=2
CONFIG_BT_TICKER_UPDATE=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y