# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

menu "Managers"
    menu "Power Manager"
        module = ZSW_PWR_MANAGER
        module-str = ZSW_PWR_MANAGER
        source "subsys/logging/Kconfig.template.log_config"
    endmenu

    menu "XIP Manager"
        depends on ZSW_XIP

        module = ZSW_XIP_MANAGER
        module-str = ZSW_XIP_MANAGER
        source "subsys/logging/Kconfig.template.log_config"
    endmenu

    menu "Mic Manager"
        config ZSW_MIC
            bool
            prompt "Enable Mic functionality"
            select AUDIO
            select AUDIO_DMIC
            default n

        config ZSW_MIC_SEND_READING_OVER_RTT
            depends on USE_SEGGER_RTT
            depends on ZSW_MIC
            bool
            prompt "Log microphone reading to RTT"
            default y
            help
                Python script can be used to read, analyze the RTT channel and plot the microphone reading.

        config ZSW_MIC_LOG_RTT_TRANSFER_CHANNEL
            depends on ZSW_MIC_SEND_READING_OVER_RTT
            depends on ZSW_MIC
            int
            prompt "The RTT channel to use for transfer of microphone reading"
            default 2

        config ZSW_MIC_LOG_RTT_TBUFFER_SIZE
            depends on ZSW_MIC_SEND_READING_OVER_RTT
            depends on ZSW_MIC
            int
            prompt "Buffer size for the RTT transfer"
            default 512

        module = ZSW_MIC_MANAGER
        module-str = ZSW_MIC_MANAGER
        source "subsys/logging/Kconfig.template.log_config"
    endmenu
endmenu
