# Copyright (c) 2025 ZSWatch Project
# SPDX-License-Identifier: Apache-2.0

menu "Managers"
    menu "Power Manager"
        module = ZSW_PWR_MANAGER
        module-str = ZSW_PWR_MANAGER
        source "subsys/logging/Kconfig.template.log_config"
    endmenu

    menu "XIP Manager"
        config ZSW_XIP
            bool
            prompt "Enable XIP"
            select HAVE_CUSTOM_LINKER_SCRIPT
            select CODE_DATA_RELOCATION
            select BUILD_NO_GAP_FILL
            select NORDIC_QSPI_NOR_XIP
            default n

        module = ZSW_XIP_MANAGER
        module-str = ZSW_XIP_MANAGER
        source "subsys/logging/Kconfig.template.log_config"
    endmenu

    menu "Mic Manager"
        config ZSW_MIC
            bool
            prompt "Enable Mic functionality"
                select AUDIO
                select AUDIO_DMIC
                default n

        module = ZSW_MIC_MANAGER
        module-str = ZSW_MIC_MANAGER
        source "subsys/logging/Kconfig.template.log_config"
    endmenu
endmenu
