# APDS-9306 light sensor configuration options.

# Copyright (c) 2023, Daniel Kampert
#
# SPDX-License-Identifier: Apache-2.0

menuconfig APDS9306
    bool "APDS9306 Sensor"
    default y
    depends on DT_HAS_AVAGO_APDS9306_ENABLED
    select I2C
    help
        Enable the driver for the APDS9306 digital light sensor.

if APDS9306
    config APDS9306_IS_APDS9306_065
        bool "Enable this option if you are using the APDS-9306-065"
        default n

module = AVAGO_APDS9306
module-str = AVAGO_APDS9306
source "subsys/logging/Kconfig.template.log_config"

endif